.button {
  background: var(--background-button-dinamic);
  color: var(--white);

  margin-right: 10px;
  padding: 0 48px;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.3s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background: var(--white);
    border: 1px solid var(--background-button-dinamic);
    color: var(--background-button-dinamic);
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
