#page-room {
  header {
    padding: 16px;
    border-bottom: 1px solid var(--grey-line);

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      > a {
        > img {
          max-height: 45px;
        }
      }

      > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px; //Add um espaço quando houver dois elementos(2x btn)

        > button {
          height: 40px;
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .room-title {
      margin: 32px 0 24px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin-bottom: 10px;
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        color: var(--black-light);
      }

      span {
        background: var(--pink);
        border-radius: 40px;
        padding: 8px 20px;
        color: var(--white);
        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      textarea {
        width: 96%;
        border: 0;
        margin-left: 10px;
        margin-right: 10px;
        padding: 16px;
        border-radius: 8px;
        background: var(--white-obs);
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 130px;
      }
    }

    .question-list {
      //margin-top: 32px;
      margin-right: 10px;
      margin-left: 10px;
    }

    .form-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;

      .user-info {
        display: flex;
        align-items: center;
        margin-left: 10px;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        span {
          margin-left: 8px;
          color: var(--black-light);
          font-weight: 500;
          font-size: 14px;
        }
      }

      > span {
        font-size: 14px;
        color: var(--grey-light2);
        font-weight: 500;

        button {
          background: transparent;
          border: 0;
          color: var(--background-button-dinamic);
          text-decoration: underline;
          font-size: 14px;
          cursor: pointer;
          padding-right: 5px;
        }
      }
    }
  }
}
