.button {
  background: var(--background-button-dinamic);
  color: var(--white);
  
  margin-top: 64px;
  margin-right: 20px;
  padding: 0 32px;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;
  border: 0;

  transition: filter 0.3s;

  img {
    margin-right: 8px;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}