html {
  --black: #0D114F;
  --white: #FFFFFF;
  --white-grey: #FAFAFA;
  --red: #E83F5B;
  --red-google: #E34133;
  --light-blue: #E0ECFF;
  --blue: #3485FF;
  --background: #FBFCFF;
  --overlay: #040911;
  --icons-details: #A580C1;
  --grey-dark: #4D5E77;
  --grey-blue: #A1B2CD;
  --grey-light: #a8a8b3;
  --grey-light2: #737380;
  --pink: #e559f9;
  --white-light: #F8F8F8;
  --background-button-dinamic: #835AFD;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: #29292e;
}

body, input, button, textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
  font: 'Roboto', sans-serif;
}