html {
  --black: #0d114f;
  --black-light: #29292e;
  --white: #ffffff;
  --white-light: #f8f8f8;
  --white-grey: #fafafa;
  --white-obs: #fefefe;
  --red: #e83f5b;
  --red-google: #e34133;
  --light-blue: #e0ecff;
  --blue: #3485ff;
  --background: #f7f7f7;
  --overlay: #040911;
  --icons-details: #a580c1;
  --grey-dark: #4d5e77;
  --white-litle-dark: #dadada52;
  --grey-blue: #a1b2cd;
  --grey-light: #a8a8b3;
  --grey-light2: #737380;
  --grey-line: #e2e2e2;
  --pink: #ce41e0b6;
  --background-button-dinamic: #835afd;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--black-light);
}

body,
input,
button,
textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
  font: "Roboto", sans-serif;
}
