.question {
  background: var(--white-obs);
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  //Quando se  usa o & dentro do sass ele referencia ao próprio elemento no caso o .question
  //Com isso a cada nova question lançada, irá ter um margin-top 8 referente a anterior.
  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    background: var(--background-highlighted);
    border: 0.2px solid var(--background-button-dinamic);

    footer .user-info span {
      color: var(--black);
      font-weight: lighter;
    }
  }

  &.answered {
    background: var(--background-answered);
    border: 0.1px solid var(--background-button-dinamic);
  }

  p {
    color: var(--black-light);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: var(--grey-light2);
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.3s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--grey-light2);
        gap: 8px;

        &.liked {
          color: var(--background-button-dinamic);

          svg path {
            stroke: var(--background-button-dinamic);
            /*fill: var(--background-button-dinamic);*/
          }
        }
      }

      &:hover {
        filter: brightness(0.6);
      }
    }
  }
}
